version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    command: >
      sh -c "
      php artisan storage:link || true &&
      php artisan serve --host=0.0.0.0 --port=8000
      "
    ports:
      - "8000:8000"

  redis:
    image: redis:7-alpine
    container_name: laravel_redis
    ports:
      - "6379:6379"
